[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
spacy = "*"
neattext = "*"
matplotlib = "*"
wordcloud = "*"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.9"
